*{
	box-sizing:border-box;
}
h1{
	font-family: sans-serif, Helvetica, "Times New Roman";
	font-size:24px;
	color: green;
	text-align: center;
}
body{
	margin:0;
	padding:0;

}
h3, p{
	font-family:sans-serif, Helvetica, "Times New Roman";
	color:black;

}

h3{
	font-size:1.2em;
	border-left:1px solid black;
	border-bottom:1px solid black;
	margin:0 0 0 60%;
	width:40%;
	text-align:center;
}

.container{
	border:none;
	margin-left:auto;
	margin-right: auto;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;


}

#chicken{
	background-color: #FAA07A;
}
#beef{
	background-color: #B22222;
	color:#FFFFFF;
}
#sushi{
	background-color: #DAA520;
}
section{
	border:1px solid black;
	margin:0 0 5px 0;
	/*background-color: #C0C0C0;*/
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}
section p{
	padding:0 4px 0px 4px;
}
.row{
	width:100%;
}

@media (min-width: 992px){
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4{
		float:left;
	}
	.col-lg-1{
		width:8.33%;
	}
	.col-lg-2{
		width:16.66%;
	}
	.col-lg-3{
		width:25%;
	}
	.col-lg-4{
		width:33.33%;
	}
}
@media (min-width: 768px) and (max-width: 991px)
{
	.col-md-6, .col-md-12{
		float:left;
	}
	.col-md-6{
		width:50%;
	}
	.col-md-12{
		width:100%;
	}
}
@media (max-width: 767px){
	.col-sm-12{
		float:left;
		width:100%;
	}
}
